{
  "openapi": "3.0.0",
  "info": {
    "title": "ToDo List API Documentation",
    "version": "1.0.0",
    "description": "เอกสาร API สำหรับการจัดการ ToDo List แอปพลิเคชันที่ช่วยในการจัดระเบียบงานและติดตามงานที่ต้องทำ สามารถเพิ่ม, แก้ไข, ลบ และเรียกดูรายการงานได้"
  },
  "servers": [
    {
      "url": "https://api.donut-ll40.me/",
      "description": "เซิร์ฟเวอร์หลักของ API"
    },
    {
      "url": "http://localhost:8000/",
      "description": "เซิร์ฟเวอร์ทดสอบในเครื่อง (localhost)"
    }
  ],
  "tags": [
    { 
      "name": "Auth", 
      "description": "Endpoints สำหรับการยืนยันตัวตนและการจัดการสิทธิ์การเข้าถึงข้อมูลในแอปพลิเคชัน เช่น การเข้าสู่ระบบ (Login) และการออกจากระบบ (Logout) โดยใช้ username, password หรือ token (เช่น JWT) เพื่อสร้างการเข้าถึงที่ปลอดภัยและจำกัดสิทธิ์การใช้งานของผู้ใช้"
    },
    { 
      "name": "User", 
      "description": "Endpoints สำหรับจัดการข้อมูลผู้ใช้ เช่น การสร้างบัญชีผู้ใช้ (Registration), การอัปเดตข้อมูลส่วนตัว, และการลบผู้ใช้"
    },
    { 
      "name": "Todo", 
      "description": "Endpoints สำหรับจัดการรายการสิ่งที่ต้องทำ (Todo) เช่น การเพิ่ม (Create), อ่าน (Read), อัปเดต (Update), และลบ (Delete) รายการ"
    },
    { 
      "name": "Limit", 
      "description": "Endpoints สำหรับการควบคุมขีดจำกัดจำนวนข้อมูลที่สามารถดึงออกมาในแต่ละคำขอ เช่น การจำกัดจำนวน limit ในการควบคุมจำนวนข้อมูล"
    }
  ],
  "components": {
    "schemas": {
      "Todo": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "c809d515-8a3a-45b5-9ec6-7bdef00077fe"
          },
          "title": {
            "type": "string",
            "example": "Finish homework"
          },
          "description": {
            "type": "string",
            "example": "Complete the math homework by tonight."
          },
          "completed": {
            "type": "boolean",
            "example": false
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "example": "2024-11-12T14:12:51.026Z"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "example": "2024-11-12T14:12:51.026Z"
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "e1f2a7a9-3e24-48de-b83f-caf14c235b8e"
          },
          "email": {
            "type": "string",
            "format": "email",
            "example": "user@example.com"
          },
          "username": {
            "type": "string",
            "example": "username1234"
          },
          "password": {
            "type": "string",
            "example": "$2a$10$RfyR1V6y2JHWH2BNXNdh/OfvFrcSq2FAEFw0n.7FcvCqbWC0m7M.K"
          },
          "firstname": {
            "type": "string",
            "example": "John"
          },
          "lastname": {
            "type": "string",
            "example": "Doe"
          },
          "picture": {
            "type": "string",
            "example": "https://ui-avatars.com/api/?name=John+Doe&background=181C14&color=fff&size=512"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "example": "2024-11-12T14:12:51.026Z"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "example": "2024-11-12T14:12:51.026Z"
          },
          "failedAttempts": {
            "type": "integer",
            "example": 0
          },
          "lockUntil": {
            "type": "string",
            "format": "date-time",
            "example": "2024-11-12T15:12:51.026Z"
          }
        }
      },
      "Account": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "6f580973-f742-4116-a79d-48abf4f5c803"
          },
          "provider": {
            "type": "string",
            "example": "google"
          },
          "providerId": {
            "type": "string",
            "example": "googleId-123456"
          },
          "user_id": {
            "type": "string",
            "example": "e1f2a7a9-3e24-48de-b83f-caf14c235b8e"
          }
        }
      }
    },
    "securitySchemes": {
      "BearerToken": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      },
      "Cookies": {
        "type": "apiKey",
        "in": "cookie",
        "name": "token"
      }
    }
  },
  "paths": {
    "/api/v1/auth/sign-in": {
      "post": {
        "tags": ["Auth"],
        "summary": "เข้าสู่ระบบ",
        "description": "ข้อมูลที่กรอกเข้ามาจะถูกตรวจสอบความถูกต้องตามข้อกำหนดที่กำหนดไว้ เช่น รหัสผ่านต้องประกอบด้วยตัวพิมพ์ใหญ่ พิมพ์เล็ก ตัวเลข และอักขระพิเศษ โดยข้อมูลทุกฟิลด์ที่กำหนดเป็นฟิลด์บังคับจะต้องมีค่า",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "username": {
                    "type": "string",
                    "example": "user@example.com",
                    "description": "สามารถกรอกได้ทั้ง email และ username"
                  },
                  "password": { 
                    "type": "string",
                    "format": "password",
                    "example": "P@ssw0rd!",
                    "description": "รหัสผ่านต้องประกอบด้วยตัวพิมพ์ใหญ่ พิมพ์เล็ก ตัวเลข และอักขระพิเศษ"
                  }
                },
                "required": ["username", "password"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ลงชื่อเข้าใช้สำเร็จ",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "token": {
                      "type": "string",
                      "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6..."
                    },
                    "message": {
                      "type": "string",
                      "example": "ลงชื่อเข้าใช้สำเร็จ / Login successful"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "ข้อมูลไม่ถูกต้อง เช่น รหัสผ่านไม่ถูกต้อง, บัญชีของคุณถูกล็อคชั่วคราว",
            "content": {
              "application/json":{
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "รหัสผ่านไม่ถูกต้อง / Incorrect password"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "เกิดข้อผิดพลาดภายในเซิร์ฟเวอร์",
            "content": {
              "application/json":{
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "internal server errors"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
        "/api/v1/auth/sign-up": {
      "post": {
        "summary": "สมัครผู้ใช้งาน",
        "tags": ["Auth"],
        "description": "ข้อมูลที่กรอกเข้ามาจะถูกตรวจสอบความถูกต้องตามข้อกำหนดที่กำหนดไว้ เช่น อีเมลต้องมีรูปแบบที่ถูกต้อง, ชื่อผู้ใช้งานต้องไม่เว้นว่าง, รหัสผ่านต้องประกอบด้วยตัวพิมพ์ใหญ่ พิมพ์เล็ก ตัวเลข และอักขระพิเศษ โดยข้อมูลทุกฟิลด์ที่กำหนดเป็นฟิลด์บังคับจะต้องมีค่า",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": { "type": "string", "format": "email", "example": "user@example.com" },
                  "username": { "type": "string", "example": "username1234" },
                  "firstname": { "type": "string", "example": "John" },
                  "lastname": { "type": "string", "example": "Doe" },
                  "password": { "type": "string", "format": "password", "example": "P@ssw0rd!" },
                  "confirmPassword": { "type": "string", "example": "P@ssw0rd!" }
                },
                "required": ["email", "username", "firstname", "lastname", "password", "confirmPassword"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "successful!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "example": "ok" },
                    "code": { "type": "integer", "example": 200 },
                    "message": { "type": "string", "example": "successful!" },
                    "result": {
                      "type": "object",
                      "properties": {
                        "id": { "type": "string", "format": "uuid", "example": "c0093d36-XXXX-XXXX-XXXX-f20357e9b747" },
                        "email": { "type": "string", "format": "email", "example": "user1@example.com" },
                        "username": { "type": "string", "example": "username1234" },
                        "password": { "type": "string", "example": "$2a$10$RfyR1V6y2JHWH2BNXNdh/OfvFrcSq2FAEFw0n.7FcvCqbWC0m7M.K" },
                        "firstname": { "type": "string", "example": "John" },
                        "lastname": { "type": "string", "example": "Doe" },
                        "picture": { "type": "string", "format": "uri", "example": "https://ui-avatars.com/api/?name=John+Doe&background=181C14&color=fff&size=512" },
                        "createdAt": { "type": "string", "format": "date-time", "example": "2024-11-12T14:12:51.026Z" },
                        "updatedAt": { "type": "string", "format": "date-time", "example": "2024-11-12T14:12:51.026Z" },
                        "failedAttempts": { "type": "integer", "example": 0 },
                        "lockUntil": { "type": "string", "format": "date-time", "nullable": true, "example": null }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "ข้อมูลไม่ถูกต้อง เช่น อีเมลนี้ถูกใช้งานแล้ว หรือข้อมูลไม่ครบถ้วน",
            "content": {
              "application/json":{
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "อีเมลนี้ถูกใช้งานแล้ว"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "เกิดข้อผิดพลาดภายในเซิร์ฟเวอร์",
            "content": {
              "application/json":{
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "internal server errors"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/verify": {
      "get": {
        "tags": ["Auth"],
        "summary": "ยืนยันการเข้าสู่ระบบ",
        "description": "ใช้เพื่อยืนยันการเข้าสู่ระบบของผู้ใช้โดยตรวจสอบ token หรือ cookie",
        "parameters": [],
        "security": [
          {
            "BearerToken": []
          },
          {
            "Cookies": []
          }
        ],
          "responses": {
            "200": {
            "description": "Successfully verified the user",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "bea3e979-9f51-42be-8039-d687da953645"
                    },
                    "email": {
                      "type": "string",
                      "example": "user@example.com"
                    },
                    "username": {
                      "type": "string",
                      "example": "username123"
                    },
                    "firstname": {
                      "type": "string",
                      "example": "John"
                    },
                    "lastname": {
                      "type": "string",
                      "example": "Doe"
                    },
                    "picture": {
                      "type": "string",
                      "example": "https://ui-avatars.com/api/?name=John+Doe&background=181C14&color=fff&size=512"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2024-11-12T14:12:13.251Z"
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2024-11-13T02:59:22.017Z"
                    },
                    "failedAttempts": {
                      "type": "integer",
                      "example": 0
                    },
                    "lockUntil": {
                      "type": "string",
                      "format": "date-time",
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json":{
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Token verification failed : invalid token"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Unauthorized"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "เกิดข้อผิดพลาดภายในเซิร์ฟเวอร์",
            "content": {
              "application/json":{
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "internal server errors"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/sign-out": {
      "get": {
        "tags": ["Auth"],
        "summary": "ออกจากระบบ",
        "description": "ใช้เพื่อยืนยันการออกจากระบบของผู้ใช้โดยการลบ token หรือ cookie ที่ใช้ในการยืนยันตัวตน",
        "parameters": [],
        "security": [
          {
            "BearerToken": []
          },
          {
            "Cookies": []
          }
        ],
        "responses": {
          "200": {
            "description": "ออกจากระบบสำเร็จ",
            "content": {
              "application/json": {
                "example": {
                  "message": "ออกจากระบบสำเร็จ"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Unauthorized"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "เกิดข้อผิดพลาดภายในเซิร์ฟเวอร์",
            "content": {
              "application/json":{
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "internal server errors"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/user/update": {
      "patch": {
        "tags": ["User"],
        "summary": "อัปเดตข้อมูลผู้ใช้งาน",
        "description": "ใช้เพื่ออัปเดตข้อมูลผู้ใช้งานที่มีอยู่ เช่น อีเมล, ชื่อผู้ใช้งาน, ชื่อจริง, และนามสกุล",
        "operationId": "updateUser",
        "security": [
          {
            "BearerToken": []
          },
          {
            "Cookies": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "description": "อีเมลของผู้ใช้งานที่ต้องการอัปเดต",
                    "example": "user@example.com"
                  },
                  "username": {
                    "type": "string",
                    "description": "ชื่อผู้ใช้งานที่ต้องการอัปเดต",
                    "example": "john_doe"
                  },
                  "firstname": {
                    "type": "string",
                    "description": "ชื่อจริงของผู้ใช้งานที่ต้องการอัปเดต",
                    "example": "John"
                  },
                  "lastname": {
                    "type": "string",
                    "description": "นามสกุลของผู้ใช้งานที่ต้องการอัปเดต",
                    "example": "Doe"
                  },
                  "picture": { "type": "string", "format": "uri", "example": "https://ui-avatars.com/api/?name=John+Doe&background=181C14&color=fff&size=512", "description": "เป็นลิ้งค์ที่ได้จาก UI Avatar โดยใช้ชื่อมาทำเป็นภาพ" }
                },
                "required": ["email", "username", "firstname", "lastname", "picture"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "อัปเดตข้อมูลผู้ใช้งานสำเร็จ",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "success!"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "c0093d36-XXXX-XXXX-XXXX-f20357e9b747"
                        },
                        "email": {
                          "type": "string",
                          "example": "user1@example.com"
                        },
                        "username": {
                          "type": "string",
                          "example": "john_doe"
                        },
                        "firstname": {
                          "type": "string",
                          "example": "John"
                        },
                        "lastname": {
                          "type": "string",
                          "example": "Doe"
                        },
                        "picture": { "type": "string", "format": "uri", "example": "https://ui-avatars.com/api/?name=John+Doe&background=181C14&color=fff&size=512" },
                        "createdAt": { "type": "string", "format": "date-time", "example": "2024-11-12T14:12:51.026Z" },
                        "updatedAt": { "type": "string", "format": "date-time", "example": "2024-11-12T14:12:51.026Z" },
                        "failedAttempts": { "type": "integer", "example": 0 },
                        "lockUntil": { "type": "string", "format": "date-time", "nullable": true, "example": null }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "ข้อมูลที่ให้มาไม่ถูกต้องหรือไม่ครบถ้วน",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "example": "ไม่สามารถอัปเดตข้อมูลได้เนื่องจากข้อมูลไม่ครบถ้วนหรือไม่ถูกต้อง"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Unauthorized"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "เกิดข้อผิดพลาดภายในเซิร์ฟเวอร์",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "internal server errors"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/user/delete/{userId}": {
      "delete": {
        "tags": ["User"],
        "summary": "ลบข้อมูลผู้ใช้งาน",
        "description": "ใช้ลบข้อมูลผู้ใช้งานตาม ID ที่ระบุใน URL",
        "operationId": "deleteUser",
        "security": [
          {
            "BearerToken": []
          },
          {
            "Cookies": []
          }
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "description": "ID ของผู้ใช้งานที่ต้องการลบ",
            "schema": {
              "type": "string",
              "example": "c0093d36-XXXX-XXXX-XXXX-f20357e9b747"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ลบข้อมูลผู้ใช้งานสำเร็จ",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "example": 200
                    },
                    "status": {
                      "type": "string",
                      "example": "success!"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "id": { "type": "string", "format": "uuid", "example": "c0093d36-XXXX-XXXX-XXXX-f20357e9b747" },
                        "email": { "type": "string", "format": "email", "example": "user1@example.com" },
                        "username": { "type": "string", "example": "username1234" },
                        "password": { "type": "string", "example": "$2a$10$RfyR1V6y2JHWH2BNXNdh/OfvFrcSq2FAEFw0n.7FcvCqbWC0m7M.K" },
                        "firstname": { "type": "string", "example": "John" },
                        "lastname": { "type": "string", "example": "Doe" },
                        "picture": { "type": "string", "format": "uri", "example": "https://ui-avatars.com/api/?name=John+Doe&background=181C14&color=fff&size=512" },
                        "createdAt": { "type": "string", "format": "date-time", "example": "2024-11-12T14:12:51.026Z" },
                        "updatedAt": { "type": "string", "format": "date-time", "example": "2024-11-12T14:12:51.026Z" },
                        "failedAttempts": { "type": "integer", "example": 0 },
                        "lockUntil": { "type": "string", "format": "date-time", "nullable": true, "example": null }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "ข้อผิดพลาดในการลบข้อมูล เช่น ID ไม่ถูกต้อง",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "example": "ไม่สามารถลบผู้ใช้งานได้เนื่องจากข้อมูลไม่ถูกต้อง"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Unauthorized"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "เกิดข้อผิดพลาดภายในเซิร์ฟเวอร์",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "internal server errors"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/todo/view": {
      "get": {
        "tags": ["Todo"],
        "summary": "ดูทั้งหมด",
        "description": "Retrieve the user's profile and their associated todos.",
        "parameters": [],
        "security": [
          {
            "BearerToken": []
          },
          {
            "Cookies": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response containing user details and a list of todos.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "success!"
                    },
                    "user_req": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid",
                          "example": "74a9f503-e59b-4ff1-a79e-0dc543c5c778"
                        },
                        "email": {
                          "type": "string",
                          "format": "email",
                          "example": "iinter731@gmail.com"
                        },
                        "username": {
                          "type": "string",
                          "example": "donut1140"
                        },
                        "firstname": {
                          "type": "string",
                          "example": "nuttawoot"
                        },
                        "lastname": {
                          "type": "string",
                          "example": "chawna"
                        },
                        "picture": {
                          "type": "string",
                          "format": "uri",
                          "example": "https://ui-avatars.com/api/?name=nuttawoot+chawna&background=181C14&color=fff&size=512"
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2024-11-17T14:36:02.555Z"
                        },
                        "updatedAt": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2024-11-18T13:35:50.703Z"
                        },
                        "failedAttempts": {
                          "type": "integer",
                          "example": 0
                        },
                        "lockUntil": {
                          "type": "string",
                          "format": "date-time",
                          "nullable": true,
                          "example": null
                        }
                      }
                    },
                    "result": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid",
                            "example": "18a29fb7-a1e6-4396-9867-48cd9b4289ba"
                          },
                          "title": {
                            "type": "string",
                            "example": "ทดสอบการทำงาน"
                          },
                          "description": {
                            "type": "string",
                            "example": "ไม่รู้จะพิมพ์ไรเลยลองทดสอบดู"
                          },
                          "completed": {
                            "type": "boolean",
                            "example": false
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "example": "2024-11-17T14:58:28.755Z"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "example": "2024-11-17T14:58:28.755Z"
                          },
                          "user_id": {
                            "type": "string",
                            "format": "uuid",
                            "example": "74a9f503-e59b-4ff1-a79e-0dc543c5c778"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request response when data is not found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "example": 400
                    },
                    "message": {
                      "type": "string",
                      "example": "ไม่พบข้อมูล!"
                    },
                    "user_req": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid",
                          "example": "74a9f503-e59b-4ff1-a79e-0dc543c5c778"
                        },
                        "email": {
                          "type": "string",
                          "format": "email",
                          "example": "iinter731@gmail.com"
                        },
                        "username": {
                          "type": "string",
                          "example": "donut1140"
                        },
                        "firstname": {
                          "type": "string",
                          "example": "nuttawoot"
                        },
                        "lastname": {
                          "type": "string",
                          "example": "chawna"
                        },
                        "picture": {
                          "type": "string",
                          "format": "uri",
                          "example": "https://ui-avatars.com/api/?name=nuttawoot+chawna&background=181C14&color=fff&size=512"
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2024-11-17T14:36:02.555Z"
                        },
                        "updatedAt": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2024-11-18T13:35:50.703Z"
                        },
                        "failedAttempts": {
                          "type": "integer",
                          "example": 0
                        },
                        "lockUntil": {
                          "type": "string",
                          "format": "date-time",
                          "nullable": true,
                          "example": null
                        }
                      }
                    },
                    "result": {
                      "type": "array",
                      "example": []
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Unauthorized"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "เกิดข้อผิดพลาดภายในเซิร์ฟเวอร์",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "internal server errors"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/todo/create": {
      "post": {
        "summary": "เพิ่มสิ่งที่ต้องทำ",
        "tags": ["Todo"],
        "description": "ใช้สำหรับเพิ่มรายการสิ่งที่ต้องทำ (Todo)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "description": "ชื่อสิ่งที่ต้องทำ",
                    "example": "ซื้อของเข้าบ้าน"
                  },
                  "description": {
                    "type": "string",
                    "description": "รายละเอียดของสิ่งที่ต้องทำ (ถ้ามี)",
                    "example": "รายการซื้อของ: ข้าว, น้ำตาล, ไข่"
                  }
                },
                "required": ["title"]
              }
            }
          }
        },
        "security": [
          {
            "BearerToken": []
          },
          {
            "Cookies": []
          }
        ],
        "responses": {
          "200": {
            "description": "รายการสิ่งที่ต้องทำถูกสร้างสำเร็จ",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "success!"
                    },
                    "todo": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "1as29fb7-a1e6-7842-0642-21cd9b4289ba"
                        },
                        "title": {
                          "type": "string",
                          "example": "ซื้อของเข้าบ้าน"
                        },
                        "description": {
                          "type": "string",
                          "example": "รายการซื้อของ: ข้าว, น้ำตาล, ไข่"
                        },
                        "completed": {
                          "type": "boolean",
                          "example": false
                        },
                        "createdAt": {
                          "type": "string",
                          "example": "2024-11-17T14:58:28.755Z"
                        },
                        "updatedAt": {
                          "type": "string",
                          "example": "2024-11-17T14:58:28.755Z"
                        },
                        "user_id": {
                          "type": "string",
                          "example": "74a9f503-e59b-4ff1-a79e-0dc543c5c778"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "ข้อมูลไม่ถูกต้อง",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Title ต้องไม่เป็นค่าว่าง"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Unauthorized"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "เกิดข้อผิดพลาดภายในเซิร์ฟเวอร์",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "internal server errors"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/todo/update/{todoId}": {
      "patch": {
        "tags": ["Todo"],
        "summary": "อัปเดตสิ่งที่ต้องทำ",
        "description": "ใช้สำหรับอัปเดตรายการสิ่งที่ต้องทำ (Todo)",
        "security": [
          {
            "BearerToken":[]
          },{
            "Cookies": []
          }
        ],
        "parameters": [
          {
            "name": "todoId",
            "in": "path",
            "required": true,
            "description": "รหัสของสิ่งที่ต้องทำที่ต้องการอัปเดต",
            "schema": {
              "type": "string",
              "example": "1as29fb7-a1e6-7842-0642-21cd9b4289ba"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "description": "ชื่อสิ่งที่ต้องทำ",
                    "example": "อัปเดตชื่อสิ่งที่ต้องทำ"
                  },
                  "description": {
                    "type": "string",
                    "description": "รายละเอียดของสิ่งที่ต้องทำ (ถ้ามี)",
                    "example": "อัปเดตรายละเอียด"
                  },
                  "completed": {
                    "type": "boolean",
                    "description": "สถานะการทำงานสำเร็จหรือไม่",
                    "example": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "รายการสิ่งที่ต้องทำถูกอัปเดตสำเร็จ",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "success!"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "1as29fb7-a1e6-7842-0642-21cd9b4289ba"
                        },
                        "title": {
                          "type": "string",
                          "example": "อัปเดตชื่อสิ่งที่ต้องทำ"
                        },
                        "description": {
                          "type": "string",
                          "example": "รายละเอียดของสิ่งที่ต้องทำ (ถ้ามี)"
                        },
                        "completed": {
                          "type": "boolean",
                          "example": true
                        },
                        "createdAt": {
                          "type": "string",
                          "example": "2024-11-17T14:58:28.755Z"
                        },
                        "updatedAt": {
                          "type": "string",
                          "example": "2024-11-17T14:58:28.755Z"
                        },
                        "user_id": {
                          "type": "string",
                          "example": "74a9f503-e59b-4ff1-a79e-0dc543c5c778"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "ข้อมูลไม่ถูกต้อง",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Title ต้องไม่เป็นค่าว่าง"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Unauthorized"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "เกิดข้อผิดพลาดภายในเซิร์ฟเวอร์",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/todo/update/status/{todoId}": {
      "patch": {
        "tags": ["Todo"],
        "summary": "อัปเดตสถานะของรายการ",
        "description": "API สำหรับอัปเดตสถานะของสิ่งที่ต้องทำ (Todo) ว่าเสร็จสิ้นหรือยัง",
        "security": [
          {
            "BearerToken":[]
          },{
            "Cookies": []
          }
        ],
        "parameters": [
          {
            "name": "todoId",
            "in": "path",
            "required": true,
            "description": "รหัสเฉพาะของรายการ Todo ที่ต้องการอัปเดต",
            "schema": {
              "type": "string",
              "example": "18a29fb7-a1e6-4396-9867-48cd9b4289ba"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "completed": {
                    "type": "boolean",
                    "description": "สถานะของรายการ Todo (true = สำเร็จ, false = ยังไม่สำเร็จ)",
                    "example": false
                  }
                },
                "description": "ข้อมูลที่ใช้ในการอัปเดตสถานะของรายการ Todo"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "อัปเดตสถานะสำเร็จ",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "success!"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "18a29fb7-a1e6-4396-9867-48cd9b4289ba"
                        },
                        "title": {
                          "type": "string",
                          "example": "ทดสอบการทำงาน"
                        },
                        "description": {
                          "type": "string",
                          "example": "ไม่รู้จะพิมพ์ไรเลยลองทด"
                        },
                        "completed": {
                          "type": "boolean",
                          "example": true
                        },
                        "createdAt": {
                          "type": "string",
                          "example": "2024-11-17T14:58:28.755Z"
                        },
                        "updatedAt": {
                          "type": "string",
                          "example": "2024-11-20T03:50:00.457Z"
                        },
                        "user_id": {
                          "type": "string",
                          "example": "74a9f503-e59b-4ff1-a79e-0dc543c5c778"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "ข้อมูลไม่ถูกต้อง",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "example": 400
                    },
                    "message": {
                      "type": "string",
                      "example": "ไม่พบ ID ของ todo ในระบบ"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Unauthorized"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "เกิดข้อผิดพลาดภายในเซิร์ฟเวอร์",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/todo/delete/{todoId}": {
      "delete": {
        "tags": ["Todo"],
        "summary": "ลบสิ่งที่ต้องการทำ",
        "description": "ใช้สำหรับลบรายการหรือสิ่งที่ต้องทำ (Todo)",
        "security": [
          {
            "BearerToken":[]
          },{
            "Cookies": []
          }
        ],
        "parameters": [
          {
            "name": "todoId",
            "in": "path",
            "required": true,
            "description": "รหัสของสิ่งที่ต้องทำที่ต้องการลบข้อมูล",
            "schema": {
              "type": "string",
              "example": "1as29fb7-a1e6-7842-0642-21cd9b4289ba"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "รายการสิ่งที่ต้องทำถูกอัปเดตสำเร็จ",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "success!"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "1as29fb7-a1e6-7842-0642-21cd9b4289ba"
                        },
                        "title": {
                          "type": "string",
                          "example": "อัปเดตชื่อสิ่งที่ต้องทำ"
                        },
                        "description": {
                          "type": "string",
                          "example": "รายละเอียดของสิ่งที่ต้องทำ (ถ้ามี)"
                        },
                        "completed": {
                          "type": "boolean",
                          "example": true
                        },
                        "createdAt": {
                          "type": "string",
                          "example": "2024-11-17T14:58:28.755Z"
                        },
                        "updatedAt": {
                          "type": "string",
                          "example": "2024-11-17T14:58:28.755Z"
                        },
                        "user_id": {
                          "type": "string",
                          "example": "74a9f503-e59b-4ff1-a79e-0dc543c5c778"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "ไม่พบข้อมูล",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "example": 400
                    },
                    "message": {
                      "type": "string",
                      "example": "ไม่พบ ID ของ todo ในระบบ"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Unauthorized"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "เกิดข้อผิดพลาดภายในเซิร์ฟเวอร์",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/limit": {
      "get": {
        "tags": ["Limit"],
        "summary": "ดูจำนวนการร้องขอ API",
        "description": "แสดงข้อมูลเกี่ยวกับจำนวนการร้องขอ API ที่เหลืออยู่ และเวลาที่จะรีเซ็ตราคาคำขอใหม่",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "ipAddress": {
                      "type": "string",
                      "example": "XXX.XXX.XXX.XXX"
                    },
                    "limit": {
                      "type": "string",
                      "example": "1000"
                    },
                    "limitCount": {
                      "type": "integer",
                      "example": 999
                    },
                    "reset": {
                      "type": "string",
                      "example": "11/19/2024, 2:03:03 PM"
                    }
                  }
                }
              }
            }
          },
          "429":{
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "คุณได้ทำการเรียกคำขอเกินขีดจำกัดที่กำหนดไว้ กรุณาลองใหม่อีกครั้งหลังจากผ่านไป 1 นาที"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
